version: "3.9"
services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - RUNNING_IN_DOCKER=true
      - GEMINI_API_KEY=AIzaSyDn3MkOUmr3gtfDDc1Tz7ZcXsgPQLZR9IA

  bot:
    build: .
    command: python bot.py
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - api
    environment:
      - RUNNING_IN_DOCKER=true
      - GEMINI_API_KEY=AIzaSyDn3MkOUmr3gtfDDc1T7ZcXsgPQLZR9IA
